h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 55px;
    margin-bottom: 5px;
}

body {
  
    background-size: cover;
    padding: 0;
    margin: 0;
}

#p1 {
    margin-bottom: 20px;
    color: black;
    text-align: center;

    font-family: Arial;
    margin-bottom: 70px;
}

#messageloc {
    text-align: center;
    font-size: 20px
}


#message {
    color: black;
    text-align: center;
    font-family: Arial;
  
}

.search {
    font-size: 15px;
    width: 30%;
    padding: 5px;
    border-radius: 50px;
    outline: none;
    border-color : black;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.map-responsive {
    
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {

        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
.map-responsive > button {
    opacity: 0.3;
    position: relative;
    float: left;
    left: 8px;
    top: 15px;
    transition: 0.5s;
}

.map-responsive > button {
    opacity: 1;
}

#map {
    height: 100%    
}
#map1 {
    height: 100%;
}

#refreshButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 400;
}

.right {
    margin-right: 70px;
}

.popup {
    /* apply 3 second hiding animation after 10 second delay */
    animation: hide 3s 10s forwards;
    /* fix popup at the center of screen, optional style */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    /* dimming entire screen except popup */
    outline: 100vmax solid #ccc;
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden
}